#__trie__ {
  #pill-container {
    .pill {
      margin: 10px;
      margin-left: 0;
      font-size: 12px;
      padding: 5px 10px;
      border-radius: 4px;
      align-items: center;
      display: inline-flex;
      border: 1px solid rgba($color: #000000, $alpha: 0.16);

      &::after {
        width: 5px;
        height: 5px;
        content: " ";
        display: block;
        margin-left: 10px;
        border-radius: 50%;
      }

      &.has::after {
        background-color: #71de56;
      }

      &.has-not::after {
        background-color: #ae1919;
      }
    }
  }

  .playground {
    display: flex;
    text-align: center;
    justify-content: center;

    .playground {
      padding: 0;
      border: none;
      margin-top: 0;
      min-height: auto;
    }

    .node:not(:last-child),
    .node:not(:first-child) {
      margin: 0 10px;
    }
  }
}
